body {
	background-color: black;
}

div#container{
	position: absolute;
	height: 99%;
	width: 99%
}

div#container img {
	height: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
  	user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}

div#texto {
	position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: larger;
    pointer-events: none;
}

div#texto p {
	text-align: center;
	color: white;
	margin: 2% 35%;
}

a#sobre {
	font-size: small;
	top: 0;
	right: 0;
	color: white;
	text-decoration: none;
    margin: 1em;
    cursor: pointer;
    position: fixed;
}

a#sobre:hover {
	color: grey;
	font-style: italic;
}

audio {
	display: none;
}